.container{
    background-color: #FFF8DC 
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}