/* ============================ NAVBAR ============================ */

.navigation-bar{
  background-color: #eee5e9;  
}

.home-account-link{
  margin-right: 5%;
}

@media (min-width: 480px){
  .navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
  }
  #title{
    border-bottom: 1px solid black;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 25%;
    font-size: 1.15em;
   }
   .navigation-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     width: 50%;
     margin-left: 30%;
     margin-right: 2%;
   }
}

@media (max-width: 480px) { 
  .navigation-bar{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    font-size: 1em;
  }
  .navbar-center{
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 80%;
    font-size: 1.5em;
  }
  .navigation-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     width: 80%;
    margin: auto;
    font-size: 1.25em;
     margin-bottom: 2%;
   }
}






/* ============================ HOME PAGE ============================ */


.container-fluid{
  /* background-color: #eee5e9; */
  background-color: #fffcff;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0;
  margin-top: 25px;
}


.publication-title{
  background-color: #183446;
  color: white;
  padding: 10px;
  margin: 0 0 20 0;
  border-radius: 10px 10px 0 0;
}

#last-container{
  margin-bottom: 50px;
}

.link_text{
  margin: 5px 15px
}

#summary{
  font-style: italic; 
  margin-left: 25px;
  margin-right: 25px;
}

#summary-btn{
  margin-right: 10px;
}


#save-btn{
  margin-right: 5px;
}

.home-pg-info{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

@media (max-width: 480px) { 
  .home-pg-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

  #save-btn{
    margin: 0 15px
  } 


  
 #summary-btn {
    margin-bottom: 5px;
  }
}

/* ============================ MY ACCOUNT PAGE ============================ */

.articles-notes{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.articles-title{
  margin-left: 15px;
}


.column {
  margin-left: 7px;
  border: 1px solid black;
  display: inline;
}

@media (max-width: 480px) and (min-width: 320px) { 
  .articles-notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

  .articles-notes>div {
    display: block;
    margin: auto;
  } 
}

.edit-add-note{
  width: 77px;
  height: 22px;
  margin: 0 8 0 4;
}


#add-note{
  margin-left: 30px;
}


@media (max-width: 480px){
  .articles-notes{
    display: flex;
    flex-direction: column;
  }
  
  
  #add-note{
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .column{
    display: block;
    margin: auto;
  }
}


.add-edit-submit{
  margin-top: 4px;
  margin-left: 15px;
  display: block;
}

textarea{
  margin-left: 10px;
  width: 80%;
  border-left: 2px solid #183446;
}

.flash{
  width: 50%;
  text-align: center;
  margin-left: 25%;
  font-size: 1.5em;
}

.my_note{
  margin-left: 30px;
}


/* ============================ LOGIN & REGISTER PAGES ============================ */
.login-register{
  background-color: #94b9d4;
  background-color: #eee5e9;
  display: block;
  margin: auto;
  margin-top: 8%;
  text-align: center;
  width: 30%;
}

/* LOGIN, REGISTER FORMS */
@media(min-width: 768px){
  input{
    width: 40%;
  }
  
  .login-register-submit{
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}


@media (min-width: 480px) and (max-width: 768px) {
  input{
    width: 80%;
  }
    .login-register-submit{
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .login-register{
     width: 80%;
  }
  input{
    width: 80%;
  }
}

@media (max-width: 800px){
  .login-register-submit{
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}


#remember_me{
  margin: auto;
  display: inline;
  width: 5px;  
}
